<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionDescription</key>
	<string>Creates a default 501 user and sets the setup assistant to not run.</string>
	<key>IFPkgDescriptionTitle</key>
	<string>InstaUser_10.5</string>
</dict>
</plist>
