<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionDescription</key>
	<string>This package creates a local user on a Mac OS X Lion system.</string>
	<key>IFPkgDescriptionTitle</key>
	<string>Create Lion User</string>
</dict>
</plist>
